@charset "UTF-8";

body{
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic UI', YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

.bold{ font-weight: bold;}

.bg-light{
	background-color: #D3D3D3!important;
}

.header-right {
	float: right;
	display: block; /* リンクをブロックレベル化して表示 */
	color: black;
	padding-right: 60px;
}

.sub-title{
	text-align: center;
	margin-top: 50px;
	letter-spacing: 15px;
}

.txarea{
	width: 75%;
	margin: 70px auto;
}

.navbar-brand{
	margin: 0 100px 0 40px;
}

.nav-link{
	margin: 0 10px;
}

.search{
	text-align: right;
	padding-right: 100px;
}

.search-btn{
	padding: .2rem 4rem;
}

.term{
	margin: 70px auto 0 auto;
	width: 75%;
	text-align: center;
}

.term{
	margin: 70px auto 0 auto;
	width: 75%;
	text-align: center;
}

.term-btn{
	padding: 8px 20px;
	margin: 40px 10px 0px 0px;
	color: white!important;
}

.table{
	width: 75%;
	margin: 80px auto;
}

table a {
   display: block;       /* リンクをブロックレベル化して表示 */
   color: black;
}

.button{
	font-size: 15px;
	padding: 5px 5px;
	border-color: transparent!important;
}

.delete{
	background-color: red !important;
}
