@charset "UTF-8";

body{
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic UI', YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

.bold{ font-weight: bold;}

.bg-light{
	background-color: #D3D3D3!important;
}

.header-right {
	float: right;
	display: block; /* リンクをブロックレベル化して表示 */
	color: black;
	padding-right: 60px;
}

.sub-title{
	text-align: center;
	margin: 50px 0 80px 0;
	letter-spacing: 20px;
}

.info-btn-box{
	text-align: center;
}

.info-btn{
	margin: 20px 35px 0 35px;
	color: white!important;
}

.exam-btn{
	padding: .5rem 2rem;
}

.table-box{
	width: 70%;
	margin: 70px auto;
}

.table-box p{
	padding-left: 50px;
	font-size: 25px;
	font-weight: bold;
}

.comment-box{
	margin-top: 50px;
}

.navbar-brand{
	margin: 0 100px 0 40px;
}

.nav-link{
	margin: 0 10px;
}
