@charset "UTF-8";

body{
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic UI', YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

.bold{ font-weight: bold;}

.bg-light{
	background-color: #D3D3D3!important;
}

.header-right {
	float: right;
	display: block; /* リンクをブロックレベル化して表示 */
	color: black;
	padding-right: 60px;
}

.sub-title{
	text-align: center;
	margin: 50px 0 80px 0;
	letter-spacing: 20px;
}

.navbar-brand{
	margin: 0 100px 0 40px;
}

.nav-link{
	margin: 0 10px;
}

.container{
	font-size: 20px;
	padding: 20px 0px;
}

.col-lg-4{
	font-weight: bold;
}

.col{
	text-align: center;
}

.table-container,.table-box,.info-container{
	border-radius: 20px;
	background-color: #DDDDDD;
	padding: 30px;
	width: 70%;
	margin: 65px auto;
}

.info-container{
	padding: 30px;
	width: 60%;
}

.table{
	table-layout: fixed;
}

.table-name{
	padding: 0 0 10px 50px;
}

.table-box p{
	padding-left: 50px;
	font-size: 20px;
	font-weight: bold;
}

.comment-box{
	margin-top: 30px;
	margin-bottom: 80px;
}

.comment-box pre{
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.table-box .card-text{
	font-size: 20px;
	width: 100%;
}

.search-btn{
	margin-top: 10px;
	margin-left: 10px;
}

.navbar-brand{
	margin: 0 100px 0 40px;
}

.nav-link{
	margin: 0 10px;
}
